<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2009 University of Washington Licensed under the Apache
	License, Version 2.0 (the "License"); you may not use this file except in
	compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
	the specific language governing permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.cs.mystatus"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" >
    </uses-sdk>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="edu.washington.cs.mystatus.application.MyStatus"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myStatus" >

        <!-- myStatus Components -->
        <activity
            android:name="edu.washington.cs.mystatus.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.SurveyListTabs"
            android:theme="@style/myStatus.Track"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.DueSurveysList"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.DisplayHistoryAsTable"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.AllSurveysList"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.SettingsActivity"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.HistoryActivity"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.FormTypeListActivity"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity">
        </activity>
        <!--  TEST ACTIVITY PLOT -->
        <activity
            android:name="edu.washington.cs.mystatus.activities.SimpleXYPlotActivity"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.GoalsActivity"
            android:theme="@style/myStatus.Plan"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.CreateEventActivity"
            android:theme="@style/myStatus.Plan"
            android:parentActivityName="edu.washington.cs.mystatus.activities.GoalsActivity" >
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.HelpActivity"
            android:theme="@style/myStatus.Help"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" >
        </activity>

        <!-- ODK Collect Components -->
        <service
            android:name="edu.washington.cs.mystatus.services.NotificationService"
            android:enabled="true" >
        </service>

        <service
            android:name="edu.washington.cs.mystatus.services.PrescriptionNotificationService"
            android:enabled="true" >
        </service>
        
        <provider
            android:name="edu.washington.cs.mystatus.providers.FormsProvider"
            android:authorities="edu.washington.cs.mystatus.provider.odk.forms"
            android:exported="false" />
        <provider
            android:name="edu.washington.cs.mystatus.providers.InstanceProvider"
            android:authorities="edu.washington.cs.mystatus.provider.odk.instances"
            android:exported="false" />

        <activity
            android:name="edu.washington.cs.mystatus.activities.MainMenuActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" />
        <activity
            android:name="edu.washington.cs.mystatus.activities.FormEntryActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/myStatus.Track"
            android:parentActivityName="edu.washington.cs.mystatus.activities.SurveyListTabs" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.DrawActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.InstanceChooserList"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.InstanceChooserTabs"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.FormChooserList"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.FormManagerList"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.FormDownloadList"
            android:label="@string/app_name"
            android:theme="@style/myStatus.Setup"
            android:parentActivityName="edu.washington.cs.mystatus.activities.MainActivity" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.DataManagerList"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.FileManagerTabs"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.InstanceUploaderList"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.InstanceUploaderActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.preferences.PreferencesActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.preferences.AdminPreferencesActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.FormHierarchyActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.GeoPointActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.GeoPointMapActivity"
            android:label="@string/app_name" />
        <activity
            android:name="edu.washington.cs.mystatus.odk.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name="edu.washington.cs.mystatus.activities.LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        
        
        <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name="edu.washington.cs.mystatus.activities.AndroidShortcuts"
            android:label="ODK Form"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
            android:name="edu.washington.cs.mystatus.receivers.NetworkReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="edu.washington.cs.mystatus.FormSaved" />
            </intent-filter>
        </receiver>
      
		<!-- Cache word service needed for controlling password -->
        <service android:name="info.guardianproject.cacheword.CacheWordService" android:enabled="true" android:exported="false" />
        
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name="edu.washington.cs.mystatus.activities.ManagePrescriptionActivity"
            android:label="@string/app_name"
            android:parentActivityName="edu.washington.cs.mystatus.activities.GoalsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.washington.cs.mystatus.activities.GoalsActivity" />
        </activity>
        <activity
            android:name="edu.washington.cs.mystatus.activities.AddPrescription"
            android:label="@string/app_name"
            android:parentActivityName="edu.washington.cs.mystatus.activities.ManagePrescriptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.washington.cs.mystatus.activities.ManagePrescriptionActivity" />
        </activity>
    </application>

</manifest>
